<% layout('layouts/boilerplate')%>

<div class="main-box">
  <%-include('../partials/account-navigation')%>
  <div class="info-box">
    <div class="info-box-wrapper account-first-row">
      <div class="personal-info">
        <p class="personal-info-item">Name:</p>
        <p class="personal-info-item">Age:</p>
        <p class="personal-info-item">Location:</p>
      </div>
      <p class="bio">bio</p>
    </div>
    <div class="info-box-wrapper">
      <h3 class="highscore-title">High Scores</h3>
      <div class="grid-container">
        <div></div>
        <div class="grid-difficulty">
          <p class="grid-text-full">Very Easy</p>
          <p class="grid-text-short">V.Easy</p>
        </div>

        <div class="grid-difficulty">Easy</div>
        <div class="grid-difficulty">Medium</div>
        <div class="grid-difficulty">Hard</div>
        <div class="grid-difficulty">
          <p class="grid-text-full">Very Hard</p>
          <p class="grid-text-short">V.Hard</p>
        </div>
        <div class="grid-length">1</div>

        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-length">2</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-length">3</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-length">4</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-length">5</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
        <div class="grid-score">score</div>
      </div>
    </div>
  </div>
</div>
