<% layout('layouts/boilerplate')%>

<div class="main-box">
  <%-include('../partials/account-sidebar')%>
  <div class="info-box">
    <div class="info-box-div account-first-row">more user info</div>
    <div class="info-box-div">Player stats </br>
      um dolor sit amet consectetur, adipisicing elit. Non inventore aut
      nesciunt neque expedita molestias, dolor nisi labore enim laboriosam quos
      quae aliquam? Et accusantium ducimus maiores ullam tempore ea. general
      stats: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non
      inventore aut nesciunt neque expedita molestias, dolor nisi labore enim
      laboriosam quos quae aliquam? Et accusantium ducimus maiores ullam tempore
      ea. general stats: Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Non inventore aut nesciunt neque expedita molestias, dolor nisi
      labore enim laboriosam quos quae aliquam? Et accusantium ducimus maiores
      ullam tempore ea. general stats: Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Non inventore aut nesciunt neque expedita molestias,
      dolor nisi labore enim laboriosam quos quae aliquam? Et accusantium
      ducimus maiores ullam tempore ea. general stats: Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Non inventore aut nesciunt neque
      expedita molestias, dolor nisi labore enim laboriosam quos quae aliquam?
      Et accusantium ducimus maiores ullam tempore ea. general stats: Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Non inventore aut
      nesciunt neque expedita molestias, dolor nisi labore enim laboriosam quos
      quae aliquam? Et accusantium ducimus maiores ullam tempore ea. general
      stats: Lorem
    </div>
    <div class="info-box-div">player created lists</div>
  </div>
</div>
