<% layout('layouts/boilerplate')%>

<div class="main-box">
  <%-include('../partials/account-navigation')%>

  <div class="info-box">
    <form
      action="/update-password"
      method="POST"
      class="change-profile-form validated-form"
      novalidate
    >
      <div class="profile-form-input-div change-password-div">
        <label for="old-password" class="form-input-label">Old Password</label>
        <input
          type="password"
          class="profile-form-input change-password-input"
          name="oldPassword"
          id="old-password"
        />
      </div>
      <br />
      <div class="profile-form-input-div change-password-div">
        <label for="new-password" class="form-input-label">New Password</label>
        <input
          type="password"
          class="profile-form-input change-password-input"
          name="newPassword"
          id="new-password"
        />
      </div>
      <div class="profile-form-input-div change-password-div">
        <label for="repeat-password" class="form-input-label"
          >Repeat Password</label
        >
        <input
          type="password"
          class="profile-form-input change-password-input"
          name="repeatPassword"
          id="repeat-password"
        />
      </div>
      <button class="form-button" type="submit">Change Password</button>
    </form>
  </div>
</div>

<script src="/javascripts/file-validation.js"></script>
<script src="/javascripts/autofill-profile-form.js"></script>
