<% layout('layouts/boilerplate')%>

<div class="main-box">
  <%-include('../partials/account-navigation')%>

  <div class="info-box">
    <form id="change-password-form" novalidate>
      <div id="message-box">
        <p id="message-text"></p>
        <p class="message-close" onclick="closeMessage()">X</p>
      </div>
      <div class="profile-form-input-div">
        <label for="old-password" class="form-input-label">Old Password</label>
        <input
          type="password"
          class="profile-form-input change-password-input"
          name="oldPassword"
          id="old-password"
          onkeyup="inputCheck()"
        />
      </div>
      <br />
      <div class="profile-form-input-div">
        <label for="new-password" class="form-input-label">New Password</label>
        <input
          type="password"
          class="profile-form-input change-password-input"
          name="newPassword"
          id="new-password"
          onkeyup="inputCheck()"
        />
      </div>
      <div class="profile-form-input-div">
        <label for="repeat-password" class="form-input-label"
          >Repeat Password</label
        >
        <input
          type="password"
          class="profile-form-input change-password-input"
          name="repeatPassword"
          id="repeat-password"
          onkeyup="inputCheck()"
        />
      </div>
      <button
        class="form-button"
        id="submit-password-change"
        type="submit"
        disabled
      >
        Change Password
      </button>
    </form>
  </div>
</div>

<script src="/javascripts/password-change.js"></script>
