<div class="navigation">
  <div class="profile-basic-info account-first-row">
    <img
      class="profile-img"
      src="<%-profileData.profileImg.thumbnail%>"
      onerror="this.onerror=null; this.src='<%-defaultProfileImg%>'"
    />
    <div class="profile-name-div">
      <div class="profile-name">
        <%-profileData?.displayName || profileData?.username %>
      </div>
      <img
        id="user-country"
        src="../../icons/flags/<%-profileData.country%>.png"
      />
    </div>
  </div>
  <div class="navigation-all-tabs">
    <a class="navigation-tab" href="/account/change-password"
      >Change Password</a
    >
    <a class="navigation-tab" href="/account/change-profile">Edit Profile</a>
    <a class="navigation-tab">Play sessions</a>
    <a class="navigation-tab">Detailed stats</a>
    <a class="navigation-tab">Customize site</a>
  </div>
</div>
