<div class="sidebar">
  <div class="profile-basic-info account-first-row">
    <img
      class="profile-img"
      src="<%-profileData.profileImg.thumbnail%>"
      onerror="this.onerror=null; this.src='<%-defaultProfileImg%>'"
    />
    <div class="profile-name">
      <%-profileData?.displayName || profileData?.username %>
    </div>
    <div id="user-country"><%-profileData.country%></div>
  </div>
  <div class="sidebar-all-tabs">
    <a class="sidebar-tab">Change credentials</a>
    <a class="sidebar-tab" href="/account/change-profile">Edit Profile</a>
    <a class="sidebar-tab">Play sessions</a>
    <a class="sidebar-tab">Detailed stats</a>
    <a class="sidebar-tab">Customize site</a>
  </div>
</div>
