<% layout('layouts/boilerplate')%>
<div class="card">
  <div class="card-box">
    <% if (process.env.NODE_ENV !== "production") { %>
    <h5 class="card-title"><%- error%> - OOPS!</h5>
    <% } %>
  </div>
</div>
