<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIXELIFY</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/main-navbar.css" />
  </head>


  <body class="d-flex flex-column vh-100" id="bootstrap-overrides">
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand justify-start" href="/">Pixelify</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <% if(!currentUser) {%>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">My Account</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex w-75 h-100 mx-auto align-items-center">
      <main class="d-flex flex-column align-items-center" id="main-description">
        <h1>Pixelify</h1>
        <p class="lead">
          Zdarova!</br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in officia dolorem cum corrupti esse libero quidem doloremque, mollitia ipsum natus accusantium dolor impedit ea nam cupiditate maiores modi quasi!
        </p>
        <div>
          <% if(!currentUser) {%><a
          href="/play"
          class="home-button"
          >Play as guest</a>        
        <a href="/login"
          class="home-button"
          >Login</a>
        <%} else {%>
          <a href="/play"
          class="home-button"
          >Play</a>
          <% } %>
      </div>
      </main>
      <footer class="mt-auto text-white-50">
        <p>&copy; 2023</p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
