  <% layout('layouts/boilerplate')%>
      <main id="main-description">
        <h1 id="title">Welcome!</h1>
        <p class="main-text">
          Are you ready to put your gaming knowledge to the test? Because you are about to! Play a quiz game here your task is to guess the names of various video games by their pixelated images.<br>
          If you register you will also be able to climb the global high scores and see your personal bests in account page.<br>
          <p class="text-hf">Have fun!</p>
        </p>
        <div class="button-box">
          <% if(!currentUser) {%><a
          href="/play"
          class="home-button"
          >Play as guest</a>        
        <a href="/login"
          class="home-button"
          >Login</a>
        <%} else {%>
          <a href="/play"
          class="home-button"
          >Play</a>
          <% } %>
      </main>
    </div>
    
</html>
