  <% layout('layouts/boilerplate')%>
      <main id="main-description">
        <h1 id="title">Pixelify</h1>
        <p class="main-text">
          Zdarova!</br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, in officia dolorem cum corrupti esse libero quidem doloremque, mollitia ipsum natus accusantium dolor impedit ea nam cupiditate maiores modi quasi!
        </p>
        <div class="button-box">
          <% if(!currentUser) {%><a
          href="/play="
          class="home-button"
          >Play as guest</a>        
        <a href="/login"
          class="home-button"
          >Login</a>
        <%} else {%>
          <a href="/play"
          class="home-button"
          >Play</a>
          <% } %>
      </main>
    </div>
    
</html>
