.card {
  display: flex;
  justify-content: center;
  padding: 80px 10px;
}
.card-image {
  background-color: black;
  max-width: 800px;
  max-width: 100%;
  width: 70vw;
  min-width: 300px;
  max-height: 450px;
  min-height: 260px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-style: solid;
  border: 1px black;
}
.card-box {
  max-width: 800px;
  width: 70vw;
  min-width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}
.card-title {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 30px;
}
.credentials-box {
  padding-bottom: 10px;
}
.credentials {
  margin-left: 20px;
  margin-bottom: 10px;
}
.credentials-label {
  margin-bottom: 3px;
  display: block;
}
.credentials-input {
  border-radius: 5px;
  padding: 3px;
  width: 95%;
}
.card-shadow {
  height: 70vh;
}

.card-button {
  background-color: rgba(1, 172, 1, 0.801);
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}
.card-button:hover {
  background-color: rgba(2, 146, 2, 0.801);
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
