body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("https://res.cloudinary.com/dyguovdbc/image/upload/w_384/v1676470549/pixelify/main-background_gc3sxd.jpg");
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5rem rgba(179, 179, 179, 0.3);
  font-size: 14px;
}
.card {
  display: flex;
  justify-content: center;
  padding: 80px 30px;
  color: white;
}
.image-box {
  background-color: black;
  display: flex;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}
.card-image {
  max-width: 100%;
  max-height: 450px;
  min-height: 162px;
}
.card-box {
  max-width: 800px;
  width: 100%;
  min-width: 288px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #272727;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}
.error-card{
  min-height: 100px;
}
.card-title {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 30px;
  color: rgba(1, 172, 1, 0.801);
  text-align: center;
}
.guess-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
.field {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.field-label {
  margin-bottom: 3px;
  display: block;
}
.field-input,
.text-input {
  border-radius: 5px;
  padding: 3px;
}
.card-shadow {
  height: 70vh;
}
.card-button {
  background-color: rgba(1, 172, 1, 0.801);
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}
.card-button:hover {
  background-color: rgba(2, 146, 2, 0.801);
  cursor: pointer;
}
.play-button {
  width: 100%;
}
#result-wrapper {
  display: none;
}
.hidden-game-data {
  display: none;
}
.guess-buttons {
  width: 100%;
  display: flex;
}
#page-counter {
  white-space: nowrap;
  font-size: 25px;
  padding: 0px 20px;
  margin: auto;
}
#guess-wrapper {
  margin-bottom: 20px;
}
.settings-select {
  font-size: 13px;
}
.setting {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.setting-title {
  font-size: 16px;
  margin-bottom: 5px;
}

fieldset {
  border: none;
}
.field-input-wrapper {
  display: inline-block;
  margin: 8px;
  position: relative;
}
.field-input {
  display: none;
}

.field-input + label {
  color: white;
  border: 2px solid rgba(1, 172, 1, 0.801);
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.field-input:checked + label {
  background-color: rgba(1, 172, 1, 0.801);
}
.field-input:hover + label {
  background-color: rgba(1, 130, 2, 0.801);
}
.field-input:active + label {
  background-color: rgba(1, 172, 1, 0.801);
}
#gameGuesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-guess-wrapper {
  flex-basis: 49%;
  display: flex;
  flex-direction: column;
  margin: 5px 1px;
}

.page-title {
  padding: 15px;
  font-size: 40px;
  text-align: center;
}
.prev-session-info {
  font-size: 20px;
  width: 70%;
  margin: auto;
  padding: 30px 50px 40px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.continue-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#button-start-new,
#button-continue {
  width: 200px;
}
#continue-card-title {
  font-size: 25px;
}
.card-content {
  display: none;
  flex-direction: column;
  height: 100%;
}
.loader-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}
.loader {
  border: 16px solid #a8a8a8;
  border-top: 16px solid rgba(1, 172, 1, 0.801);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 30%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .loader-wrapper {
    min-height: 550px;
  }
  .card-title {
    font-size: 25px;
  }
  #gameGuesses > div {
    margin-bottom: 8px;
  }
  .setting-fieldset > label {
    margin-right: 15px;
  }
  #gameGuesses {
    font-size: 13px;
  }
  #page-counter {
    font-size: 20px;
  }
  .page-title {
    font-size: 30px;
  }
  .card-button {
    font-size: 19px;
  }
  .prev-session-info {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .card-box {
    min-height: 350px;
  }
  .loader-wrapper {
    min-height: 450px;
  }
  .page-title {
    font-size: 19px;
    padding: 5px;
  }
  .setting {
    padding: 6px 15px;
  }
  .setting-fieldset {
    font-size: 11px;
  }
  .setting-title {
    font-size: 14px;
  }
  #page-counter {
    font-size: 13px;
    padding: 0px 10px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-button {
    font-size: 15px;
  }
  .game-guess-wrapper {
    flex-basis: 100%;
  }
  #gameGuesses {
    font-size: 12px;
  }
  .prev-session-info {
    margin: 0;
    display: block;
    padding: 8px 20px;
    font-size: 12px;
  }
  .session-info-wrapper {
    padding: 4px 0px;
  }
  #continue-card-title {
    margin: 10px 15px;
    font-size: 14px;
  }
  .continue-card-buttons {
    gap: 5px;
  }
  #button-continue,
  #button-start-new {
    font-size: 12px;
  }
  .field-input + label {
    padding: 5px 10px;
    font-size: 18px;
  }
}
