body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("https://res.cloudinary.com/dyguovdbc/image/upload/w_384/v1676470549/pixelify/main-background_gc3sxd.jpg");
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.3);
}
.user-guess-true {
  color: rgb(1, 172, 1);
}
.user-guess-false {
  color: red;
}
.detailed-results-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px black solid;
  margin: 80px auto;
  align-items: center;
  max-width: 70%;
  background-color: rgba(0, 0, 0, 0.856);
  color: rgb(1, 172, 1);
}

#slideshow-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.233);
  height: 500px;
  border: 2px black solid;
  width: 100%;
}

.button-wrapper {
  position: absolute;
  font-size: 30px;
  color: rgb(255, 255, 255);
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  user-select: none;
  z-index: 3;
}
.button-wrapper:hover {
  color: rgb(1, 172, 1);
}
.prev:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7595238779105392) 0%,
    rgba(255, 255, 255, 0.6166667350533963) 40%,
    rgba(255, 255, 255, 0.17689082468925066) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}
.next:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.17689082468925066) 23%,
    rgba(255, 255, 255, 0.6166667350533963) 60%,
    rgba(255, 255, 255, 0.7595238779105392) 100%
  );
}
.mySlides {
  width: 100%;
  justify-content: center;
}

.img-detailed {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}

#dots-container {
  align-self: center;
  margin-top: -20px;
  z-index: 3;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #dbdbdb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.active,
.dot:hover {
  background-color: rgb(1, 172, 1);
}

#game-info-container {
  width: 100%;
  min-height: 250px;
  background-color: #333;
}
.detailed-results-text {
  flex-direction: column;
  overflow-wrap: break-word;
}
.game-details-item {
  font-size: 20px;
  margin-bottom: 15px;
}
.details-text,
.game-website {
  color: white;
  display: inline;
  margin-left: 10px;
}
.game-name {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  width: 80%;
  align-self: center;
}
.game-details {
  font-size: 18px;
  flex-grow: 1;
  margin-left: 28px;
}
.store-icons {
  height: 40px;
  width: auto;
  margin-left: 15px;
  margin-bottom: -12px;
}
.meta-score-wrapper {
  display: flex;
  flex-direction: column;
  align-self: end;
  margin: 0px 30px 20px 0px;
}
.meta-score {
  align-self: center;
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 30px;
}
.meta-green {
  background-color: green;
}
.meta-yellow {
  background-color: #dfa700;
}
.meta-red {
  background-color: red;
}

.meta-score-text {
  font-size: 12px;
  align-self: end;
  width: 80px;
  text-align: center;
  color: white;
}
.page-num {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 8px;
}
.game-website {
  text-decoration: underline;
}

.fade {
  animation-name: fade;
  animation-duration: 0.4s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  #slideshow-container {
    height: 400px;
  }
  .detailed-results-box {
    max-width: 80%;
  }
  .game-name {
    font-size: 25px;
  }
  .game-details {
    font-size: 15px;
  }
  .page-num {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  #slideshow-container {
    height: 250px;
  }
  #game-info-container {
    min-height: 200px;
  }
  .detailed-results-box {
    max-width: 90%;
  }
  .game-details-item {
    font-size: 15px;
  }
  .game-name {
    font-size: 22px;
  }
  .game-details {
    font-size: 13px;
  }
  .page-num {
    font-size: 15px;
  }
}
