.myFooter {
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: #333;
  color: rgba(0, 231, 0, 0.801);
  position: absolute;
  padding: 20px 0px;
  bottom: 0;
  justify-content: center;
}
