body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("https://res.cloudinary.com/dyguovdbc/image/upload/v1676470549/pixelify/main-background_gc3sxd.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(187, 187, 187);
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.3);
}
.lr-nav {
  background-color: rgba(0, 0, 0, 0.9);
}
#main-description {
  padding: 100px 20px;
}
.button-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-text {
  margin-bottom: 40px;
}
#title {
  padding-bottom: 15px;
}

.cover-container {
  max-width: 60vw;
}

#main-description {
  text-align: center;
}

.home-button {
  background-color: rgb(1, 172, 1);
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
}
.home-button:hover {
  background-color: rgb(2, 146, 2);
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
}
.nav-bar;
