.lr-nav {
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: #333;
  position: fixed;
}

#logo {
  color: rgba(0, 231, 0, 0.801);
  font-weight: 900;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.lr-nav a {
  color: rgba(1, 172, 1, 0.801);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-links a:hover {
  background-color: #424242;
  color: rgba(1, 172, 1, 0.801);
}
