.lr-nav {
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: #333;
  position: fixed;
}

#logo {
  color: rgba(0, 231, 0, 0.801);
  font-weight: 900;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.nav-link,
.nav-link-guest {
  color: rgba(1, 172, 1, 0.801);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  align-self: center;
}

.nav-links a:hover {
  background-color: #424242;
  color: rgba(1, 172, 1, 0.801);
}

.nav-icon {
  max-height: 25px;
  align-self: center;
  padding: 0;
  display: none;
  margin: auto;
}

@media (max-width: 1024px) {
  .nav-link {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .icon-wrapper {
    display: flex;
    justify-content: center;
  }
  .nav-icon {
    display: block;
  }
  .nav-text {
    display: none;
  }
  .nav-link-guest {
    font-size: 12px;
  }
  .nav-link {
    flex-grow: 1;
  }
  #logo {
    margin-right: 10px;
    padding: 10px 16px;
    font-size: 14px;
    margin: auto;
  }
}
