.navbar-brand {
  color: rgba(3, 209, 3, 0.801);
}
.navbar-brand:hover {
  color: rgba(3, 209, 3, 0.801);
}
.navbar-brand:focus {
  color: rgba(3, 209, 3, 0.801);
}

.nav-link {
  color: rgba(3, 150, 3, 0.801);
  padding: 0.25rem;
  font-weight: 700;
  margin-left: 1rem;
}
