.user-guess-true {
  color: green;
}
.user-guess-false {
  color: red;
}
.results-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 30px;
}
#results-image {
  max-width: 50%;
  margin: auto;
}
.results-text {
  max-width: 70%;
  margin: auto;
}
.highscores-box {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
}
.score {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  align-items: center;
}
.score-pfp {
  width: 70px;
  height: 70px;
}
.player-score {
  margin-left: auto;
}
