<% layout('layouts/boilerplate')%>
<div class="card">
  <div class="card-box">
    <div class="image-box">
      <img
        class="card-image"
        id="pixelatedImage"
        src="<%=previewImage %>"
        alt="pixelated image"
      />
    </div>

    <div id="sessionId" style="display: none"><%= playSessionId %></div>
    <form
      action="/send-play-data"
      method="POST"
      class="settings-select validated-form"
      novalidate
    >
      <div class="setting">
        <h5 class="setting-title">Difficulty</h5>
        <fieldset class="setting-fieldset" name="difficulty">
          <input
            class="field-input"
            type="radio"
            name="difficulty"
            value="1"
            id="1"
            onchange="chooseDifficulty(this)"
          />
          <label for="1">Very Easy</label>
          <input
            class="field-input"
            type="radio"
            name="difficulty"
            value="2"
            id="2"
            onchange="chooseDifficulty(this)"
          />
          <label for="2">Easy</label>
          <input
            class="field-input"
            type="radio"
            name="difficulty"
            value="3"
            id="3"
            onchange="chooseDifficulty(this)"
          />
          <label for="3">Medium</label>
          <input
            class="field-input"
            type="radio"
            name="difficulty"
            value="4"
            id="4"
            onchange="chooseDifficulty(this)"
          />
          <label for="4">Hard</label>
          <input
            class="field-input"
            type="radio"
            name="difficulty"
            value="5"
            id="5"
            onchange="chooseDifficulty(this)"
          />
          <label for="5">Very Hard</label>
        </fieldset>
      </div>
      <div class="setting">
        <h5 class="setting-title">Session length</h5>
        <fieldset class="setting-fieldset" name="sessions-length">
          <input
            class="field-input"
            type="radio"
            id="a"
            name="sessionLength"
            value="3"
            onchange="chooseLength(this)"
          />
          <label for="a">3</label>
          <input
            class="field-input"
            type="radio"
            id="b"
            name="sessionLength"
            value="5"
            onchange="chooseLength(this)"
          />
          <label for="b">5</label>
          <input
            class="field-input"
            type="radio"
            id="c"
            name="sessionLength"
            value="7"
            onchange="chooseLength(this)"
          />
          <label for="c">7</label>
          <input
            class="field-input"
            type="radio"
            id="d"
            name="sessionLength"
            value="9"
            onchange="chooseLength(this)"
          />
          <label for="d">9</label>
          <input
            class="field-input"
            type="radio"
            id="e"
            name="sessionLength"
            value="11"
            onchange="chooseLength(this)"
          />
          <label for="e">11</label>
        </fieldset>
      </div>

      <button class="card-button" onclick="start()">Start</button>
    </form>
  </div>
</div>
<script src="/javascripts/playSettings.js"></script>
