<% layout('layouts/boilerplate')%>
<input
  id="results-data"
  type="hidden"
  name="results-data"
  value="<%=playSessionData%>"
/>
<input
  id="highscores-data"
  type="hidden"
  name="highscores-data"
  value="<%=highscoresData%>"
/>
<input
  id="default-profile-img"
  type="hidden"
  name="default-profile-img"
  value="<%=defaultProfileImg%>"
/>
<div class="card">
  <div class="card-box">
    <div class="results-tabs">
      <a class="tab" id="current-results-tab" onclick="switchTab(this)">
        Results
      </a>
      <a class="tab" id="highscores-tab" onclick="switchTab(this)">
        Highscores
      </a>
    </div>

    <div id="results-box">
      <img src="" alt="results" id="results-image" />
      <div class="results-text">
        <h1 id="results-title"></h1>
        <div id="results-details"></div>
        <div id="all-answers"></div>
      </div>
      <button class="card-button" onclick="detailedResults()">
        Detailed Results
      </button>
    </div>

    <div id="highscores-box">
      <div class="highscores-title"><%-highscoreText%></div>
      <div id="highscores"></div>
    </div>
  </div>
</div>
<script src="/javascripts/displayResults.js"></script>
