<% layout('layouts/boilerplate')%>
<input
  id="results-data"
  type="hidden"
  name="results-data"
  value="<%=playSessionData%>"
/>
<div class="results-box">
  <img src="" alt="results" id="results-image" />
  <div class="results-text">
    <h1 id="results-title"></h1>
    <div id="results-details"></div>
    <div id="all-answers"></div>
  </div>
</div>
<script src="/javascripts/displayResults.js"></script>
