<% layout('layouts/boilerplate')%>
<div class="results-box">
  <div>
    <img src="" alt="results-image" id="results-image" />
    <h1 id="results-title"></h1>
    <div id="results-details"></div>
    <div id="all-answers"></div>
  </div>
</div>
<script src="/javascripts/displayResults.js"></script>
